extends layout

block content
    h2 Add Todo
    form(action= "/todos/#{id}" method = "post")
        label ID :
        br
        input(type= "text" name= "id" value= "#{id}" readonly)
        br
        label Title
        br
        input(type = "text" name= "title" value= "#{title}" readonly)
        br
        - if(completed)
            input(type = "checkbox" name ="completed" value = "yes" checked)
        - else
            input(type = "checkbox" name = "completed" value = "yes")
        label completed
        br
        input(type = "hidden" name = "_method" value = "put")
        input(type = "submit" value= "Update Todo")

