extends layout

block content
    table
        thead
            tr
                th ID
                th Title
                th Completed
        tbody
            each todo in todos
                tr
                    td= todo.id
                    td= todo.title
                    td= todo.completed
                    td: a(href = "/todos/#{todo.id}/edit") Edit
                    td
                        form(method = "post" action = "/todos/#{todo.id}")
                            input(type="submit" value = "Delete")
                            input(type = "hidden" name = "_method" value = "delete")
