extends layout
block content
    h2 Add Todo
    form(method = "post" action="/todos")
        label Title :
        br
        input(type = "text" name="title")
        br
        input(type = "checkbox" name="completed" value= "yes")
        label completed
        br
        input(type = "submit")

    br

