extends layout

block content

    h2 Todo

    table
        tr
            td ID
            td= id
        tr
            td Title
            td= title
        tr
            td Completed
            - if(completed)
                td: input(type = "checkbox" checked)
            - else
                td: input(type = "checkbox")

